<form class="" action="/adminseller/<%= seller._id %>?_method=PUT" method="post">
<input type="text" name="name" value="<%=seller.name%>" placeholder="name">
<input type="text" name="mobile" value="<%=seller.mobile%>" placeholder="mobile">
<button>Submit</button>
</form>
