<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CraftKaar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>

  <body style="background-color: white;">
    <header style="outline-style: groove; outline-color:#1F51FF; outline-width: 1px; padding: 0 0 1px; font-family: 'Manrope', sans-serif; background-color: black;">
      <div class="mainMenu margintop">
      <nav>

          <ul class="navv menu" id="navb" style="background-color: white; padding-top: 2.5px;">
          <a href="/"><img src="/images/logo.png" alt="" style="height: 25px; width: 25px; background-color: white; border-radius:50%;"></a>


            <li>

          <a onclick="openNav()" id="okay" class="dropbtn" style="font-family: 'Manrope', sans-serif; text-shadow: 0 0 1px #1F51FF, 0 0 1px #1F51FF;">&#9776;</a>
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

            <a href="https://www.craftkaar.com/">Craftkaar</a>
            <a href="/about">About CraftKaar</a>
          </div>


            </li>


              <li >
                <a href="/seller" title="Profile" style="padding: 0 0 0 10px; font-family: 'Manrope', sans-serif; text-shadow: 0 0 1px #1F51FF, 0 0 1px #1F51FF;"><i class="fas fa-user-circle"></i></a>
              </li>
            <li >
              <a href="/signin" title="Sign in" style="text-shadow: 0 0 1px #1F51FF, 0 0 1px #1F51FF;"><i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li >
              <a class="pixel15" href="/signup" title="Sign up" style="text-shadow: 0 0 1px #1F51FF, 0 0 1px #1F51FF;"><i class="fas fa-user-plus"></i></a>
            </li>
            <li >
              <a  href="/signout" title="Sign out" style="padding: 0 30px 0 10px; text-shadow: 0 0 1px #1F51FF, 0 0 1px #1F51FF;"><i class="fas fa-sign-out-alt"></i></a>
            </li>


          </ul>

      </nav>
      </div>
    </header>
