<%- include ('./partials/header'); -%>

<div class="about1" style="padding: 5%;">

<p class="pStyle">find us over <a href="https://www.instagram.com/craftkaar7/"><span><i style="color:#E1306C" class="fab fa-instagram"></i></span></a> <a href="https://wa.me/917000530586" style="text-decoration:none;"> <span ><i style="color:#25D366;" class="fab fa-whatsapp"></i></span></a> <a href="https://www.facebook.com/profile.php?id=100077060732531" style="text-decoration:none;"> <span> <i style="color:#4267B2;" class="fab fa-facebook"></i></span></a> <a href="#" style="text-decoration:none;"> <span><i style="color:#00acee;" class="fab fa-twitter"></i></span> </a> <a href="#" style="text-decoration:none;"><span> <i style="color:#E60023;" class="fab fa-pinterest"></i></span></a> <a href="#" style="text-decoration:none;"><span> <i style="color:#0e76a8;" class="fab fa-linkedin"></i></span></a><a href="#" style="text-decoration:none;"><span> <i style="color:#6C7878;" class="far fa-envelope"></i></span></a></p>

<a href="https://razorpay.com/" target="_blank"> <img referrerpolicy="origin" src = "https://badges.razorpay.com/badge-dark.png " style = "height: 55px; width: 120px;" alt = "Razorpay | Payment Gateway | Neobank"></a>

</div>

<%- include ('./partials/footer'); -%>
