<a style="background-color: black;
  color: white;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  border-radius: 5%;
  font-family: 'Manrope', sans-serif;" href="/category/create">create a catagory</a>
<a style="background-color: black;
  color: white;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  border-radius: 5%;
  font-family: 'Manrope', sans-serif;" href="/getCategory">All categories</a>
<a style="background-color: black;
  color: white;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  border-radius: 5%;
  font-family: 'Manrope', sans-serif;" href="/adminProducts">All products</a>
<a style="background-color: black;
  color: white;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  border-radius: 5%;
  font-family: 'Manrope', sans-serif;" href="/adminSeller">All sellers</a>
<a style="background-color: black;
  color: white;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  border-radius: 5%;
  font-family: 'Manrope', sans-serif;" href="/adminorder">Registered users order</a>
<a style="background-color: black;
  color: white;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  border-radius: 5%;
  font-family: 'Manrope', sans-serif;" href="/admintorder">Guest users order</a>
