<%- include ('./partials/header'); -%>
<p style="font-family: 'Manrope', sans-serif; padding-left: 10px;">Please check your email, we have sent you a password reset link.</p>
<%- include ('./partials/footer'); -%>
