<%- include ('./partials/header'); -%>

<div style="padding: 0 5% 0 5%;">

<p style="font-family: 'Manrope', sans-serif; padding-left: 10px;">Display your craft with us.</p>

<h1 style="text-shadow: 0 0 1px #1F51FF, 0 0 1px #1F51FF;
font-family: 'Manrope', sans-serif;">Get Started Now. Click <a style="text-decoration: none; text-shadow: 0 0 1px #1F51FF, 0 0 1px #1F51FF;
font-family: 'Manrope', sans-serif;" href="/signup">here</a>.</h1>

</div>
<%- include ('./partials/footer'); -%>
