<%- include ('../partials/header'); -%>
<div class="" style="padding: 0 25% 0 25%">


  <h1 style="text-shadow: 0 0 1px #1F51FF, 0 0 1px #1F51FF;
  font-family: 'Manrope', sans-serif;">Add new item</h1>

<form class="" action="/items/<%=user._id%>" method="post" enctype="multipart/form-data">
  <input style="border-radius: 5px;
  width: 200px;
  height: 30px;
  background: #F2F2F2;
  color: black;
  border-color: black;
  box-sizing: border-box;" type="text" name="name" placeholder="name" onkeydown="texx(this);" onkeyup="texx(this);" required>
  <input style="border-radius: 5px;
  width: 200px;
  height: 30px;
  background: #F2F2F2;
  color: black;
  border-color: black;
  box-sizing: border-box;" type="Number" name="price" placeholder="price" onkeydown="limix(this);" onkeyup="limix(this);">
  <input style="background-color: black;
    color: white;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
    box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
    border-radius: 5%;
    font-family: 'Manrope', sans-serif;" type="file" name="file" placeholder="image" required>
  <input style="border-radius: 5px;
  width: 200px;
  height: 30px;
  background: #F2F2F2;
  color: black;
  border-color: black;
  box-sizing: border-box;" type="text" list="browsers" name="category" placeholder="category" required>
  <input style="border-radius: 5px;
  width: 200px;
  height: 30px;
  background: #F2F2F2;
  color: black;
  border-color: black;
  box-sizing: border-box;" type="Number" name="quantity" placeholder="quantity" onkeydown="limix(this);" onkeyup="limix(this);">
  <input style="border-radius: 5px;
  width: 200px;
  height: 30px;
  background: #F2F2F2;
  color: black;
  border-color: black;
  box-sizing: border-box;" type="text" name="description" placeholder="description" onkeydown="texx(this);" onkeyup="texx(this);">
  <input style="border-radius: 5px;
  width: 200px;
  height: 30px;
  background: #F2F2F2;
  color: black;
  border-color: black;
  box-sizing: border-box;" type="text" name="material" placeholder="material" onkeydown="texx(this);" onkeyup="texx(this);">
  <input style="border-radius: 5px;
  width: 200px;
  height: 30px;
  background: #F2F2F2;
  color: black;
  border-color: black;
  box-sizing: border-box;" type="text" name="weight" placeholder="weight in grams (eg: 1000)" onkeydown="limix(this);" onkeyup="limix(this);">
  <datalist id="browsers">
    <% category.forEach(function(category){ %>
  <option value="<%= category.name%>">
  <% }); %>
  </datalist>
  <button style="background-color: black;
    color: white;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
    box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
    border-radius: 5%;
    font-family: 'Manrope', sans-serif;">Submit</button>
</form>

<p style="font-family: 'Manrope', sans-serif;">
  *It is advised to use an image of ratio 1:2(height to width).
  </p>

</div>
<%- include ('../partials/footer'); -%>
